<div style="width: 100%; display: block; float: left;">
    <div style="width: 84%; margin-left: 8%;">
        <div class="fblock">
            <ul>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a href="">Delivery points</a>
                </li>
                <li>
                    <a href="">Vacations</a>
                </li>
            </ul>
        </div>
        <div class="fblock">
            <ul>
                <li>
                    <a>For Customers</a>
                </li>
                <li>
                    <a id="myBtn">Contact us</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="fblock">
            <ul>
                <li>
                    <a>For Business</a>
                </li>
                <li>
                    <a href="">Work with us</a>
                </li>
                <li>
                    <a href="">Selling platform</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="myModal" class="modal">



        <!-- Modal content -->
        <div class="modal-content">
            <h1>Contact us <span class="close" (click) = "spanClick()">&times;</span></h1>
            
            <br>
            <p>Mutaxassislarimizga sizga qulay ijtimoiy tarmoq chati yoki telefon orqali savol bering:</p>
            <a href="https://t.me/web4bm" target="_blank" class="btn">
                <img src="../../assets/telegram.png" width="40px" alt="" style="float: left; margin-right: 20px;">
                <div>
<pre style="font-size: 15px; margin: unset;">Telegram
<span style="color: #666">@web4bm</span></pre>
                </div>
            </a>

            <a href="tel:+998971515551" target="_blank" class="btn">
                <img src="../../assets/phone.png" width="40px" alt="" style="float: left; margin-right: 20px;">
                <div>
<pre style="font-size: 15px; margin: unset;">+998 (97) 151-55-51
<span style="color: #666">chaqiruv bepul</span></pre>
                </div>
            </a>
            <br>
            <p>Qoʻllab-quvvatlash xizmatining email manzili:</p>
            <a href="mailto:eshmat@gmail.com">eshmat@gmail.com</a>
        </div>
    
    </div>
</div>

