.container {
    background-image: url("./../../assets/mainBack.jpeg");
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 150px);
    margin-top: -10px;
    padding-top: 10%;
    
    .container-block {
        width: 400px;
        display: block;
        background-color: white;
        margin: 0 auto;
        padding: 30px;

        a {
            padding: 10px 30px;
            border-radius: 30px;
            margin-left: 1rem;
            box-shadow: 1px 1px 1px 1px #444;
            &.active-link {
                background-color: #FF564E;
                color: white;
            }
        }



        .links {
            text-align: center;
            margin-bottom: 3rem;
        }

        .inputs {
            margin-bottom: 1rem;
        }

        

        .inp, button {
            display: block;
            position: relative;
            margin: auto;
        }

        .inp, .inputCheck {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            margin-bottom: 1rem;
            height: 2rem;
        }


        .lastButton {
            
            button {
                border: unset;
                color: white;
                
                border-radius: 30px;
                background-color: #FF564E;
                height: 2.5rem;
                width: 70%;
            }
        }
    }
}