.product {
    margin-top: 200px;
    width: 80%;
    margin-left: 10%;
    .imagePart {
        width: 30%;
        float: left;
        margin-right: 5%;
        img {
            width: 100%;
        }
    }
    .infoPart {
        width: 65%;
    }
}